In [1]:
import pandas as pd
import os

In [2]:
voting_file = os.path.join("Resources", "election_data.csv")

In [3]:
vote = pd.read_csv(voting_file)
vote_df = pd.DataFrame(vote)

In [4]:
vote_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [6]:
vote_df.count()

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [32]:
total = pd.DataFrame(vote_df.count())
total

                 0
Voter ID   3521001
County     3521001
Candidate  3521001

In [36]:
total_votes = total.iloc[1, 0]
print(total_votes)

3521001

In [12]:
vote_df.describe()

           Voter ID
count  3.521001e+06
mean   1.500082e+07
std    2.886765e+06
min    1.000000e+07
25%    1.250072e+07
50%    1.500198e+07
75%    1.750010e+07
max    2.000000e+07

In [15]:
candidates = vote_df["Candidate"].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [18]:
counting_votes = vote_df["Candidate"].value_counts()
counting_votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [20]:
voter_count = pd.DataFrame(counting_votes)

In [21]:
voter_count

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [37]:
percent = voter_count["Candidate"]/total_votes
voter_count["Percent of Votes"] = percent
voter_count.head()

          Candidate  Percent of Votes
Khan        2218231              0.63
Correy       704200              0.20
Li           492940              0.14
O'Tooley     105630              0.03

In [39]:
voter_count2 = voter_count.rename(columns = {"Candidate": "Number of Votes"})

In [40]:
voter_count2

          Number of Votes  Percent of Votes
Khan              2218231              0.63
Correy             704200              0.20
Li                 492940              0.14
O'Tooley           105630              0.03