In [4]:
import pandas as pd
import os
import numpy

In [5]:
budget_csv = os.path.join("Resources", "budget_data.csv")
budget_df = pd.read_csv(budget_csv)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [9]:
months_total = len(budget_df)
print(months_total)

86

In [16]:
net_total = sum(budget_df["Profit/Losses"])
net_total

38382578

In [6]:
change = []

for row in budget_df["Profit/Losses"]:
    #if it is the first row, change is equal to zero (no change)
    if row == 0:
        then change = ""
    
    #Otherwise, subtract previous month from current
    elif row > 0:
        then budget_df.diff()

SyntaxError: invalid syntax (<ipython-input-6-367cd57a661c>, line 6)